<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858270503530-c4i1gu1a2bu311pfnu809ao839p5nid0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858270503530-c4i1gu1a2bu311pfnu809ao839p5nid0</string>
	<key>API_KEY</key>
	<string>AIzaSyDqOQ2rSEhU0HrtQr-21BQf956nxa-qcS0</string>
	<key>GCM_SENDER_ID</key>
	<string>858270503530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pr20221029</string>
	<key>PROJECT_ID</key>
	<string>fir-20221026</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-20221026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858270503530:ios:4d70ecde827e59cc45f013</string>
</dict>
</plist>